<h2><%= @article.title %></h2>

<p><%= @article.content %></p>

<%= link_to "delete", {controller: 'articles', action: 'destroy'}, class: "fas fa-trash-alt" %>
<%= link_to 'homepage', articles_path %>
<%= link_to 'edit', edit_article_path  %>
